.rodape {
    justify-content: center;
    height:80px;
}

.formulario {
    justify-content: center;
    display: flex;
}

.louro-jose {
    justify-content: center;
    display: flex;
}

img {
    width: 200px;
}