.menu-barra {
    justify-content: space-between;
    height: 80px;
}

.logo {
    width: 70px;
    /* display: none; */
}

/* .campo-busca {
    display: flex;
    justify-content: flex-end;
    margin-left: 10em;
} */